<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mandrill Analytics</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div id="container">
      <div id="row">
        <h1>Mandrill Analytics</h1>
      </div>
      <div id="row">
        Total number of emails sent:
        <span class="number">
          <%= @data[:total_number_of_emails] %>
        </span>
      </div>
      <div id="row">
        Total number of emails opened:
        <span class="number">
          <%= @data[:total_number_of_emails_opened] %>
        </span>
      </div>
      <div id="row">
        Total number of clicks:
        <span class="number">
          <%= @data[:total_number_of_clicks] %>
        </span>
      </div>

      <div id="row">
        <h2>Open rate per email type</h2>
      </div>

      <% Webhook::EMAIL_TYPES.each do |k, v| %>
        <div id="row">
          <%= v %>:
          <span class="number">
            <%= @data[:open_rate_per_email_type][k] %>
          </span>
        </div>
      <% end %>

      <div id="row">
        <h2>Click rate per email type</h2>
      </div>
      <% Webhook::EMAIL_TYPES.each do |k, v| %>
        <div id="row">
          <%= v %>:
          <span class="number">
            <%= @data[:click_rate_per_email_type][k] %>
          </span>
        </div>
      <% end %>
  </body>
</html>
